@import url('https://fonts.googleapis.com/css?family=Actor|Spectral|Taviraj|Unna&display=swap');

.base{width:auto;
border: solid 1px var(--accent);
margin: 2px;}

.head{width:auto;
background-color: var(--accent);
padding: 2%}

.photo{background-size:110px;
width:110px;
height:110px;
border:solid 5px #fff;
border-radius: 100%;}

.tit{width:auto;
background-color: #ffffff;
padding: 20px;
text-align: center;
font-size: 28px;
font-weight: bold;
font-family: 'Unna', serif;
text-transform: uppercase;
color: #1C0705;
letter-spacing: 2px;}

.tex{width: auto;
padding: 2%;
text-align: justify;
font-size: 13px;
font-family: 'Actor', sans-serif;
color: #141414;
letter-spacing: 2px;
background-color: #ffffff;
}
