@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lato:wght@400;700&family=Terminal+Dosis+Light&display=swap');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 400;
}
@font-face {
   font-family: "against"; 
  src: url(https://dl.dropbox.com/scl/fi/bsliws80lxbcn8orijf4i/against-regular.ttf?rlkey=p0airjvfqi9n3z0zereytbpfr&st=kr6b6143&dl=0);
  format("truetype"); 
} 

.title1 { opacity: 0; width: 100px; height: 100px; transition-duration: 0.5s;  -moz-transition-duration: 0.5s;  -webkit-transition-duration: 0.5s;  -o-transition-duration: 0.5s; padding-top: 5px; }
.title1:hover { opacity: 1 }
.title2 { width: 100px; height: 100px; background-color: #eeeeee; font-family: ruloko; font-style: normal; text-transform: uppercase; color: #49423D; letter-spacing: -.5; font-size: 8px; text-align: justify; line-height: 100%; color: #49423D; margin-left: 0px; margin-top: -5px; }
.app { font-family: arial; font-size: 10px; }.appdetails { background-color: #e0e0e0; font:8px arial; font-weight:bold; letter-spacing: 3px; text-transform:uppercase; color:#5e5e5e; text-align:left; padding: 1px; }
.apptitle { font:8px arial; font-weight:bold; letter-spacing: 3px; text-transform:uppercase; color:#5e5e5e; text-align: right; padding: 1px; }
.appquestion { text-align: left; font-family: 'alex brush';  letter-spacing: -1px; font-size: 22px; color: #5e5e5e; line-height: 80%; text-transform: lowercase;  padding: 2px; font-weight: lighter; }
.center { line-height:4em }
.border {width:200px; height:400px; padding:10px; border:1px black dotted;}
.photo{width: 250px; height: 400px;}
.tit{font-family:Terminal Dosis Light; font-size:25px; color:#FFB6C1; text-align:center;}
