@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
#prin {
  width: auto;
  height: auto;
  margin: 25px 0 0;
    
}
#prin b {
  color: var(--accent);
}
 #prin .basing {
   width: auto;
  padding: 2%;
  border: 1px solid var(--accent);
   
 } 
#prin .base {
  width: 100%;
  background: var(--background);
  box-sizing: border-box;
  border: 1px solid var(--accent);
  
}
#prin .head {
  width: 100%;
  height: 250px;
  background: center/cover;
  box-sizing: border-box; 
  
   
}
#prin .post {
  background: var(--background); 
  font: 500 13px/180% Montserrat;
  text-align: justify;
  letter-spacing: .5px;
  padding: 20px;
  box-sizing: border-box;
  color: var(--text);
}

#prin .postbase {
    background: var(--background); 
    width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

#prin .postbase b{
color: var(--accent);
}

#prin .postbase strong{
color: var(--accent);
}

#prin .postbase i{
color: var(--accent);
}

#prin .postbase u{
  color: var(--text);
   text-decoration: none;
   border-bottom: 2px solid var(--accent);
   font-weight: 600px;
}

#prin .photo {
  width: 85px;
  height: 85px;
  background: center/cover;
  
}
#prin .borda {
  border: 1px solid var(--accent);
  width: 85px;
  height: 85px;
  padding: 5px;
  float: left; 
  margin: 5px 10px 10px 10px;  

}
#prin .title {
  font: 900 45px/150% Poppins; 
  font-style: bold;
  color: var(--color);
 text-align: center; 
  padding: 5px;
  box-sizing: border-box;
  text-transform: lowercase;
  width: fit-content;
  border-bottom: 1px solid #fff;
  position: relative;
  top: 65px;
  
}
#prin .lyric {
  width: 85%;
   font: 12px/150% IBM Plex Mono;
  color: var(--color);
  padding: 5px; 
  margin-left: 10px;
  position: relative;
  top: 70px;
  text-transform: lowercase; 
}
#prin .notas {
  font: 500 14px/120% Poppins;
  color: var(--accent);
  text-transform: uppercase; 
  font-weight: bold;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
}
#prin .data {
  font: 500 13px/120% Poppins;
  color: var(--text);
  text-align: right;
  padding: 10px;   
}

#prin .data b{
color: var(--accent);
}

#prin .data strong{
color: var(--accent);
}

.ava{width: 200px; height: 320px; float: left; margin-right: 5px;}
.img1{width: 150px; height: 150px; float: left; margin-right: 5px; margin-top: 5px; margin-bottom: -3px;}
.img2{width: 150px; height: 150px; float: right; margin-left: 5px; margin-top: 5px; margin-bottom: -3px;}
