@import url('https://fonts.googleapis.com/css?family=Montserrat');
.im_nk {width: 100%;background-color: white; border: 1px solid #222; color: black;}
.is_nk {padding: 50px; font-family: montserrat; font-size: 13px; color: #000; text-align: justify}
.mo_nk {color: #eee; font: bold 15px montserrat; letter-spacing: 5px; text-align: justify; height: 250px; border-bottom: 1px solid #222; text-transform: uppercase; background: #9400D3}
.mo_nk01 {padding: 95px 30px 10px 0px; margin: auto; text-align: center; width: fit-content; border-bottom: 1px solid #eee; position: relative;}
.sub{width: 90%; padding-left: 50px; height: 2px; background-color: #eee;}
.ishigh {font: 10px montserrat;letter-spacing: 1px;te/xt-align: justify;width: auto;text-transform: lowercase;margin: auto;padding: 40px; padding-right: 60px;}
