@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.loj1{width: auto; height: auto; background-color: #fff; border: 1px solid #000; padding: 20px; border: 1px solid #FA8B03;}
.loj2{width: auto; height: auto; border: 1px solid #FA8B03;}
.loj3{width: auto; padding: 20px; font-family: Verdana; font-size: 11px; text-align: justify; color: #000; line-height: 101%;}
.loj4{font-size: 70px; padding: 20px 8px 20px 8px; background-size:cover; font-family: Montserrat; font-size: 30px; letter-spacing: 5px; text-align: right; color: #FA8B03; text-transform: lowercase; border-bottom: 13px;}
