@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
.trpg{background-image: url(https://i.imgur.com/npihXkK.png); greyscale: 90%; width: 90%; padding: 3%; margin: 2%; border-radius: 20px; background-attachment: fixed;}
.trpg1{width: auto; background: #F5F5F5; font-family: 'calibri'; color: #000; text-align: justify; padding: 2%; font-size: 14px; font-family: 'work sans'; border-radius: 10px;}
.trpg1 h1{font-family: 'tormenta20'; font-size: 30px; padding-bottom: 5px; text-align: center; color: #CD5C5C;}
.trpg1 strong {color: #CD5C5C; font-weight: bold;}
.trpg1 u{text-decoration:none; border-bottom: 2px solid #CD5C5C; font-weight: 600;}
.trpg1 i {color: #5F9EA0;}
.trpg2{column-count: 2; column-gap: 30px; text-align: justify;}
