@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.twinpeak {width: auto; padding: 30px;background: #000; border: solid 1px #F7EDED; line-height: 125%; color: #fff;}
.twinpeak .base {border: solid 1px #F7EDED;}
.twinpeak .cite {padding: 20px; border-bottom: solid 5px #F7EDED;font: italic 14px/14px 'playfair display', times; color: #eee;text-align: center; text-transform: lowercase; letter-spacing: 1px;}
.twinpeak .texto {background: #000; padding: 35px;font: 14px/120% 'playfair display'; color: #fff; text-align: justify;}
.twinpeak .texto b {color: var(--accent);}
.twinpeak .texto strong {color: var(--accent);}
.twinpeak .texto i {color: var(--accent);}
.twinpeak .texto u {text-decoration: none; font-weight: 600; color: white; border-bottom: 2px solid var(--accent);}
.twinpeak .texto img {width: 90px; height: 90px; padding: 10px;float: right; margin-left: 15px;border: solid 1px #E5E5E5;}
.twinpeak .tag {color: #cccccc; border-top: solid 1px #F7EDED;font-style: italic; float: right;margin: 10px 0 -10px 0; padding: 2px 5px;}
.twinpeak .frag {width: auto; height: 3px; background: #F7EDED; margin-top: 10px; margin-bottom: 5px;}
.twinpeak .texto a {color: var(--accent1);}
.twinpeak .a1 {color: var(--accent); text-transform: uppercase; text-align: center; font-size: 20px; font-family: 'Poppins';}
.twinpeak .a2 {color: var(--accent);  text-align: center; font-size: 18px; font-family: 'Poppins';}
